.text-gray {
  color: $grey-normal !important;
}

.text-tosca-blue {
  color: $tosca-blue-mea !important;
}

.text-light-blue {
  color: $light-blue-mea !important;
}

.text-black {
  color: $black !important;
}

.placeholder-grey{
  color: $inactive-grey-a5;
}

.text-danger {
  color: $danger-color !important;
}