$light-blue-mea: #2D3356;
$orange-mea: #E87F2F;
$tosca-blue-mea: #49A0A4;
$inactive-grey-a5: #A5A5A5;
$red-mea: #DA4040;
$grey-mea: #8692A6;
$purple-mea: #603B55;
$grey-normal: #4B4B50;
$black: #000;

$main-color: $orange-mea;
$secondary-color: $tosca-blue-mea;
$danger-color: $red-mea;
$disabled-color: #E9ECEF;